#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1796R.
#

# Period Constraints 
#FREQUENCY NET "e_primary_pll/hr_clk_0_0" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
