BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "db_clk" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "db_reset" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "db_switches[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db_switches[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db_switches[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db_switches[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "db_leds[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "db_leds[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
LOCATE COMP "db_clk" SITE "C8" ;
LOCATE COMP "db_reset" SITE "B3" ;
LOCATE COMP "db_switches[0]" SITE "N2" ;
LOCATE COMP "db_switches[1]" SITE "P1" ;
LOCATE COMP "db_switches[2]" SITE "M3" ;
LOCATE COMP "db_switches[3]" SITE "N1" ;
LOCATE COMP "db_leds[0]" SITE "P16" ;
LOCATE COMP "db_leds[1]" SITE "N15" ;
LOCATE COMP "db_leds[2]" SITE "L13" ;
LOCATE COMP "db_leds[3]" SITE "K11" ;
LOCATE COMP "db_leds[4]" SITE "L12" ;
LOCATE COMP "db_leds[5]" SITE "J11" ;
LOCATE COMP "db_leds[6]" SITE "J13" ;
LOCATE COMP "db_leds[7]" SITE "H11" ;
IOBUF PORT "codec_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE ;
IOBUF PORT "i2s1_d0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i2s1_d1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_cs0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_cs2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi3_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi3_cs0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi3_cs3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi3_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "i2s1_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "i2s1_ws" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "i2s2_d0" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "i2s2_d1" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "i2s2_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "i2s2_ws" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "spi1_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "spi3_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "l_lvds_io" PULLMODE=NONE SLEWRATE=FAST IO_TYPE=BLVDS25E ;
IOBUF PORT "r_lvds_io" IO_TYPE=BLVDS25E PULLMODE=NONE SLEWRATE=FAST ;
LOCATE COMP "codec_clk" SITE "E2" ;
LOCATE COMP "i2s1_sck" SITE "T2" ;
LOCATE COMP "i2s1_ws" SITE "R3" ;
LOCATE COMP "i2s1_d0" SITE "T3" ;
LOCATE COMP "i2s1_d1" SITE "R4" ;
LOCATE COMP "i2s2_sck" SITE "T4" ;
LOCATE COMP "i2s2_ws" SITE "R5" ;
LOCATE COMP "i2s2_d0" SITE "T5" ;
LOCATE COMP "i2s2_d1" SITE "R6" ;
LOCATE COMP "spi1_clk" SITE "T10" ;
LOCATE COMP "spi1_mosi" SITE "R10" ;
LOCATE COMP "spi1_miso" SITE "T11" ;
LOCATE COMP "spi1_cs0" SITE "R11" ;
LOCATE COMP "spi1_cs2" SITE "T12" ;
LOCATE COMP "spi3_clk" SITE "T13" ;
LOCATE COMP "spi3_mosi" SITE "R13" ;
LOCATE COMP "spi3_miso" SITE "T14" ;
LOCATE COMP "spi3_cs0" SITE "R14" ;
LOCATE COMP "spi3_cs3" SITE "T15" ;
BANK 0 VCCIO 2.5 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
LOCATE COMP "l_lvds_io" SITE "A5" ;
LOCATE COMP "r_lvds_io" SITE "B11" ;
IOBUF PORT "xtal_in" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE ;
IOBUF PORT "xtal_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 CLAMP=ON ;
LOCATE COMP "xtal_in" SITE "C1" ;
LOCATE COMP "xtal_out" SITE "D2" ;
