.idea/
.vscode/

CMakeFiles/
cmake-build-debug/
release/
debug/

docs/html

# macOS files
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
